*{
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0 100px;
}

h3{
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  margin: 0;
}

h5{
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}
.header{
}

.conteiner {
  width: 1722px;
  margin: 0 auto;
  
}
.header__top {
  display: flex;
  align-items: center;
  height: 100px;
}
.logo {
  display: flex;
  align-items: center;
  width: 270px;
  height: 100%;
  padding-left: 51px;
  background-color: rgba(242, 242, 242, .5);
}

.header__info {
  display: flex;
  align-items: center;
  width: 138px;
  height: 100%;
  margin-left: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.menu {
  margin-left: auto;
}
.menu__list {
  display: flex;
  align-items: center;
  width: 419px;
  height: 100%;
  margin-right: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.menu__list li+li{
  padding-left: 30px;
}

.contacts {
  display: table-column;
  width: 280px;
  height: 100%;
  padding: 28px 51px;
  background: rgba(242, 242, 242, .5);
  text-align: right;
}
.number {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.number-info {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.container--hero {
  background: url(../images/hero-bg.jpg) no-repeat center / cover;
  padding: 0 305px;
  display: flex;
  flex-direction: column;
}
.hero__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 86px;
  padding-bottom: 60px;
}
.hero__info {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-right: auto;
}
.hero__info-title {
  font-weight: 800;
  font-size: 56px;
  line-height: 68px;
  margin-bottom: 40px;
} 
.hero__info-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}
.bold {
  font-weight: bold;
}
.hero__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 445px;
  border: 20px solid #F2F2F2;
  padding: 70px 61px 40px;
}
.hero__form-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 40px;
}
.hero__form-input{
  display: flex;
  width: 100%;
  padding: 10px 0;
  margin: 0 66px 15px;
  border-bottom: 1px solid #828282;
}
.hero__form-input img{
  margin-right: 10px;
}
.hero__form-input input{
  border: none;
  padding: 5px;
  flex: 0 1 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.hero__form-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 47px;
}
.hero__form-start-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 20px 102px 20px 102px;
  background: #E3A127;
  border: 5px solid rgba(227, 161, 39, 0.2);
  background-clip: padding-box; 
  border-radius: 50px;
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.25);
  margin-bottom: 18px;
  color: #fff;
}
.hero__form-input-check {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 47px;
}
.hero__form-input-check input {
  margin-right: 15px;
}
.advantage {
  display: flex;
  margin-bottom: 95px;
}
.advantage__container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  width: calc(25% - 30px);
  margin-right: 30px;
  flex-grow: 1;
}
.advantage__container-info:last-child {
  margin-right: 0;
}
.advantage__container-title {
  font-weight: 800;
  font-size: 56px;
  line-height: 68px;
  margin-bottom: 15px;
}
.advantage__container-title span{
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}
.advantage__container-line {
  width: 66px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 15px;
}
.advantage__container-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.step__wrap {
  display: flex;
  flex-direction: column;
  width: 825px;
  margin: 125px auto 75px;
}

.step__title {
  margin-bottom: 79px;
}

.step__element {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.step__element-number {
  width: 65px;
  flex-shrink: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #BDBDBD;
  margin-right: 65px;
}
.step__element-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 3px solid #3F2EB3;
  margin-right: 65px;
}

.step__element-image::after, .step__element-image::before{
  position: absolute;
  content: "";
  background: #3F2EB3;
  height: 50px;
  width: 3px;
  left: 50%;
}

.step__element-image::after{
  bottom: -50px;
}
.step__element:last-child .step__element-image::after{
  content: none;
}

.step__element-image::before{
  top: -50px;
}
.step__element:nth-child(2) .step__element-image::before{
  content: none;
}

.step__element-text {
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #333333;
}
.results__container{
  background: url(../images/results-bg.jpg) no-repeat center / cover;
  padding: 60px 305px;
}
.results__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 1110px;
  margin: 0 auto;
}
.results__title {
  width: 100%;
  color: #fff;
  text-align: left;
  margin-bottom: 15px;
}
.results__subtitle {
  width: 100%;
  color: #fff;
  margin-bottom: 60px;
}
.results__element {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 0 1 calc(50% - 15px);
  border: 7px solid #adabb8;
  padding: 55px 55px 40px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: 0.3s;
}
.results__element:hover{
  border: 7px solid #fff;
}
.results__element:nth-child(2n){
  margin-right: 0;
}
.results__element-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #FFDD59;
  margin-bottom: 15px;
}
.results__element-roi {
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.results__element-number {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #FFDD59;
  margin-bottom: 15px;
}
.result__element__orders {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}
.result__element__order-text {
  width: 50%;
  font-weight: 800;
  margin-bottom: 15px;
}
.result__element__order-number {
  width: 50%;
  font-weight: normal;
}
.results__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 22px;
  color: #fff;
}
.results__link-a:hover + .results__link-border{
  transform: scale(1);
}

.results__link-border {
  width: 232px;
  height: 3px;
  background-color: #fff;
  margin-top: 19px;
  transform: scale(0.2);
  transition: 0.3s;
}

.clients__wrap {
  margin: 125px 0 0;
  padding: 0 305px;
}
.clients__title {
  margin-bottom: 62px;
}
.clients__element-list {
  display: flex;
  flex-wrap: wrap;
  background: rgba(242, 242, 242, 0.5);
  padding: 32px 19px 18px;
  margin-bottom: 30px;
}
.clients__element {
  display: flex;
  padding: 8px 33px 8px 43px;
  min-height: 60px;
  margin-bottom: 19px;
  margin-right: 45px;
}
.clients__element--active{
  background: #3F2EB3;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.clients__element-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  align-self: center;
}
.clients__element-index {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}
.clients__logos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.clients__logos {
  flex: 0 0 25%;
}
.clients__logos:hover{
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.clients__logos img{
  height: 100%;
  width: 100%;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.clients__logo-pagination {
  color: #25212180;
  margin: 60px auto 124px;
}


.pagination__prev {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-right: 14px;
}
.pagination__page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 14px;
  
}
.pagination__page--active {
  background-color: #3F2EB3;
    color: #fff;
}
.pagination__spacer {
  margin-right: 14px;
}
.pagination__next {
}
.form--aline {
  background: url(../images/form-aline-bg.jpg) no-repeat center / cover;
  margin-bottom: 214px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container--form {
  color: #fff;
  position: relative;
}


.container {
}
.form__title {
  margin: 74px auto 15px;
  width: 60%;
}
.form__subtitle {
  margin: 0 auto -20px;
  text-align: center;
  font-weight: bold;
}
.form__wrap {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
  width: 1110px;
  border: 20px solid #F2F2F2;
  color: #828282;
  padding: 27px 20px 28px;


}
.form__input {
  border-bottom: 1px solid #828282;
  margin: 4px 30px 0 0;
}
.form__input input{
  border: none;
  padding: 15px;
  flex: 0 1 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.form__start-check{
  display: flex;
  flex-direction: column;
}

.form__start-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 20px 102px 20px 102px;
  background: #E3A127;
  background-clip: padding-box; 
  border-radius: 50px;
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.25);
  margin-bottom: 18px;
  color: #fff;
}
.form__input-check {
  display: flex;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
}
.form__input-check-text {
  margin-left: 23px;
}
.reviews {
}
.reviews__container {
}
.reviews__container-titel-pagination {
}
.reviews__titel {
}
.reviews__pagination {
}
.reviews__pagination-prev {
}
.reviews__pagination-page {
}
.reviews__pagination-slash {
}
.reviews__pagination-next {
}
.reviews__element {
}
.reviews__element-items {
}
.reviews__element-title {
}
.reviews__element-logo {
}
.reviews__element-subtitle {
}
.reviews__element-text {
}
.reviews__element-read {
}
